@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-300-600: "Overpass", sans-serif;
  --font-400-500-700: "Ubuntu", sans-serif;

  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);

  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);

  --font-size: 1rem;
}

body {
  font-family: var(--font-300-600);
  font-size: var(--font-size);
}
